body {
  background: #ffffff;
  font-family: sans-serif;
}

#createblog .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #ffffff;
  font-size: 18px;
}

/* Snow Theme */
#createblog .ql-snow.ql-toolbar {
  display: block;
  background: #ffffff;
  z-index: 2;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#createblog .ql-editor {
  min-height: 18em;
}
